.login {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo {
    width: 300px;
    height: 150px;
}

.loginWrapper {
    width: 70%;
    height: 70%;
    display: flex;
    flex-wrap: wrap;

    justify-content: space-evenly;

}

.loginLeft,
.loginRight {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 450px;
    z-index: 1;
}

.loginLogo {
    font-size: 50px;
    font-weight: 800;
    color: #1775ee;
    margin-bottom: 10px;
}

.loginDesc {
    font-size: 24px;
}

.loginDescName{
    font-size: 18px;
    margin: 10px 0 0 10px;
    font-style: italic;
}

.loginInput {
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    font-size: 18px;
    padding-left: 20px;
}

.loginInput:focus {
    outline: none;
}

.loginButton {
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #1775ee;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}

.loginButton:focus {
    outline: none;
}

.loginButton:disabled {
    cursor: not-allowed;
}

.loginForgot {
    text-align: center;
    color: #1775ee;
}

.linkButton {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.loginRegisterButton {
    width: 60%;
    height: 50px;
    border-radius: 10px;
    border: none;
    background-color: #42b72a;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}


.wave {
    width: 1000px;
    height: 1025px;
    position: absolute;
    bottom: -45%;
    left: 50%;
    margin-left: -500px;
    margin-bottom: -500px;
    border-radius: 35%;
    background: rgba(10, 103, 190, 0.75);
    animation: wave 15s infinite linear;
    z-index: 0;
    overflow-y: hidden;
}

@keyframes wave {
    from {
        transform: rotate(0deg);
    }

    from {
        transform: rotate(360deg);
    }
}



@media (max-width: 800px) {
    .loginWrapper {
        width: 80%;
        height: 80%;
    }
}

@media (max-width: 750px) {
    .loginWrapper {
        width: 90%;
        height: 80%;
    }
}

@media (max-width: 600px) {
    .loginWrapper {
        width: 95%;
        height: 90%;
    }
}

@media (max-width: 550px) {

    .loginLeft,
    .loginRight {
        min-width: 280px;
    }

    .loginLogo {
        align-self: center;
    }

    .loginDesc {
        text-align: center;
        padding-bottom: 20px;
    }
}