.ProfileCard {
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 1rem;
    overflow-x: clip;
    background: var(--cardColor);

    /* border-bottom: 1px solid;
    border-radius: 0 0 20px 20px; */

}

.ProfileImages {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ProfileImages>img:nth-of-type(1) {
    width: 100%;
}

.ProfileImages>img:nth-of-type(2) {
    width: 6rem;
    height: 6rem;
    object-fit: cover;

    border-radius: 50%;
    position: absolute;
    bottom: -3rem;
    box-shadow: var(--profileShadow);
}

.imgCover {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.ProfileName {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0;
    gap: 10px;
}

.about {
    width: 85%;
    align-self: center;
    text-align: justify;
}

.ProfileName>span:nth-of-type(1) {
    font-weight: bold;
}

/* Follow Status */
.followStatus {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.followStatus>hr {
    width: 85%;
    border: 1px solid var(--hrColor);
}

.followStatus>div {
    display: flex;
    gap: 1rem;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.follow {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.follow>span:nth-of-type(1) {
    font-weight: bold;
}

.follow>span:nth-of-type(2) {
    color: var(--gray);
    font-size: 13px;
}

.vl {
    height: 60px;
    border-left: 2px solid var(--hrColor);
}


.ProfileCard>span {
    font-weight: bold;
    color: rgb(5, 63, 187);
    align-self: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

