.navbarHeader {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    transition: top 0.3s;
    background-color: #3F51B5;
    
    align-items: center;
    justify-content: space-between;

    padding: 0 30px 0 30px;

    color: #f2f2f2;
}

.headerTitle {
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    color: #f2f2f2;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/* ======================================================================= */
li.dropdown {
    display: none;
}

.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
}

.dropdown:hover .dropbtn {
    background-color: rgba(180, 180, 180, 0.315);
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 70px;
    right: 20px;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: auto;
}


.dropdown:hover .dropdown-content {
    display: block;
}


@media (max-width: 840px) {
    li.dropdown {
        display: inline-block;
    }
    .headerIcons {
        display: none;
    }
}

@media (max-width: 640px) {
    .navbarHeader {
        padding: 0 5% 0 5%;
    }
    .headerTitle {
        font-weight: 600;
        font-size: 25px;

    }
}

@media (max-width: 400px) {
    .headerTitle {
        font-weight: 600;
        font-size: 20px;

    }
}

