.main{
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 5% 0px 5%;
    border-radius: 15px;

}
.main:hover{
    background-color: var(--background-mid);
}



.CardAction {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.imagePost {
    height: auto;
    width: 100%;
    max-width: 650px;
    max-height: 500px;
    object-fit: fill;


    margin-left: auto;
    margin-right: auto;

    border-radius: 18px;
    border-style: solid;
    border-color: rgba(10, 10, 10, 0.486);
    border-width: 1px;

    opacity: 1 !important;

}

.postText {
    text-align: justify;
    color: rgba(8, 8, 8, 0.808);
    margin: 5px 5px 15px 5px;

}

.postTitle{
    margin: 0px;
    margin: 0 5px 5px 5px;

}